
@{
    ViewBag.Title = "EmployeeDashboard";
    Layout = "~/Views/Shared/MyLay.cshtml";
}

<style>
    body {
        background-color: coral;
    }
</style>

<h2>EmployeeDashboard</h2>

<form action="" method="post">
    <a href="/Index/RestaurantAdmin"> Restaurants </a>
    <a href="/Index/EmployeeAdmin"> Employees </a>
    <a href="/Index/Login"> Logout</a>
    <br />
    <br />
    <br />
</form>
