
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/MyLay.cshtml";
}

<style>
    body {background-color: coral;}
</style>

<h2>Login</h2>
<form action="" method="post">
    <div>
        E-mail:
        <input type="text" placeholder="Enter your e-mail" name="email" class="form-control" />
        <br />
        Password:
        <input type="text" placeholder="Enter your password" name="password" class="form-control" />
        <br />

        <input type="submit" value="Login" style="color:black" class="btn btn-success" />
        <br />
        
        Don't have an account? <a href="/Index/Registration">Sign Up<color:black"></color:black"></a>
    <br / >
    </div >
    </form >
